@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    box-sizing: border-box;
    text-decoration: none !important;
    /* outline: 1px solid black; */
}

:root {
    /* font-size */
    --fs-xs: 12px;
    --fs-s: 14px;
    --fs-sm: 16px;
    --fs-md: 16px;
    --fs-lg: 20px;
    --fs-xl: 25px;
    --fs-2xl: 30px;
    --fs-3xl: 30px;
    /* colors */
    --bs-offwhite: #FFFDFD;
    --bs-black: black;
    --bs-grey: #FFFFFF40;
    --bs-blue: #00000017;
    --bs-darkblue: #0000000A;
    --bs-white: #FFFFFF;
    --bs-darkred: #FF586E47;
}

.yellow-orange {
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-img1 {
    background-image: url(../images/heroimg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img2 {
    background-image: url(../images/Union.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-img {
    background-image: url(../images/footer-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-color1 {
    background-color: var(--bs-offwhite);
}

.my-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.logo {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.header {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--bs-black);
}

.heading1 {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-3xl);
    font-weight: 800;
    line-height: 72px;
    text-align: center;
}

.small-head {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
}

.price {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-2xl);
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -1.0659198760986328px;
}

sup {
    vertical-align: super;
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-s);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
}

.sub-head {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-xl);
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -1.2744754552841187px;
}

.slide-head {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
}

.para1 {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
}

.cardp {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    color: var(--bs-black);
    opacity: 70%;
}

.foot-text {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-s);
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}

.copy {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-xs);
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.btn1 {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
    border: none;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    border-radius: 30.5px;
    padding: 12px 37px;
    transition: all 200ms linear;
}

.btn1:hover {
    transform: scale(110%, 120%);
}

.btn2 {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: center;
    padding: 12px 58px;
    white-space: nowrap;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    border: none;
    border-radius: 30.5px;
    transition: all 300ms linear;
}

.btn2:hover {
    transform: scale(110%, 120%);
}

.line1 {
    border: 1px solid var(--bs-grey);
    width: 100%;
}

.line2 {
    width: 85%;
    border: 1px solid var(--bs-blue);
}

.arrow2 {
    position: absolute;
    top: 198px;
    left: 148px;
}

ul {
    padding-left: 0;
}

.sun {
    position: absolute;
    top: 136px;
    right: 112px;
}

.circle1 {
    width: 87px;
    height: 87px;
    border-radius: 50%;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    box-shadow: 0px 4px 17px 0px var(--bs-darkred);
    transition: all 500ms linear;
}

.circle1 svg path {
    transition: all 500ms linear;
}

.card1 {

    max-width: 353.44px;
    background: var(--bs-white);
    border-radius: 8px;
    box-shadow: 0px 4px 66px 0px var(--bs-darkblue);
    padding: 52px 38px 26px 38px;
    transition: all 300ms linear;
    border: none;

}

.card-head {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-lg);
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    color: var(--bs-black);
    transition: all 300ms linear;

}

.card1:hover {
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    transform: translateY(-20%);
    padding: 52px 38px 36px 38px;
}

.card1:hover .card-head {
    color: var(--bs-white);
}

.card1:hover .cardp {
    color: var(--bs-white);
    opacity: 100%;
}

.card1:hover .circle1 {
    background: var(--bs-white);
}

.card1:hover svg path {
    fill: url(#paint0_linear_19268_1847);
}

.ellipse1 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ellipse2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.card2 {
    box-shadow: 0px 4px 66px 0px var(--bs-darkblue);
    padding: 30px 36px;
    border: 8px;
    background-color: var(--bs-white);

}

.card3 {
    box-shadow: 0px 4px 66px 0px var(--bs-darkblue);
    padding: 30px 36px;
    border: 8px;
    background-color: var(--bs-white);
}


.cross {
    position: absolute;
    top: 60px;
    right: 50px;
}

.arrow {
    background: var(--bs-white);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.arrow:hover {
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
}

.arrow:hover svg path {
    fill: var(--bs-white);
}


.pos-ab {
    position: absolute;
    top: 50%;
    left: 4%;
}

.pos-abs {
    position: absolute;
    top: 50%;
    right: 4%;
}

.box1 {
    background: var(--bs-white);
    box-shadow: 4px 8px 31px 0px var(--bs-darkblue);
    max-width: 286px;
    border-radius: 16px;
    padding: 37px 21px 23px 25px;
}

.box-text {
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
}

.girl {
    position: absolute;
    right: -191px;
    top: 73px;
}

.platinum {
    position: absolute;
    left: -59px;
    top: 124px;
}

.info {
    padding: 0px 0px 15px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--bs-black);
    font-family: 'Work Sans', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.resize-none {
    resize: none;
}

.w-90 {
    width: 90%;
}

.h71 {
    height: 71px;
}

.opacity-70 {
    opacity: 70%;
}

.max-w762px {
    max-width: 762px;
}

.max-w375 {
    max-width: 375.42px;
}

.max-w430px {
    max-width: 430px;
}

.max-w335px {
    max-width: 550px;
}

.py90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.pr-12 {
    padding-right: 12px;
}

.mb60 {
    margin-bottom: 60px;
}

.mt53 {
    margin-top: 53px;
}

.mt60 {
    margin-top: 60px;
}

.pb400 {
    padding-bottom: 200px;
}

.pb120 {
    padding-bottom: 120px;
}

.pb78 {
    padding-bottom: 78px;
}

.pl13 {
    padding-left: 13px;
}

.pr8 {
    padding-right: 8px;
}

.pr26 {
    padding-right: 26px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pt-100 {
    padding-top: 100px;
}

.mb-80 {
    margin-bottom: 80px;
}

.py100 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.py15 {
    padding-top: 15.23px;
    padding-bottom: 15.23px;
}

.white-space {
    white-space: nowrap;
}

.cross2 {
    position: absolute;
    top: 4%;
    right: 13%;
}

.bluebox2 {
    position: absolute;
    top: 63%;
    left: 3%;
}

.blue-box {
    position: absolute;
    left: 19%;
    top: 3%;
}

@media (min-width:576px) {
    :root {
        /* font-size */
        --fs-xs: 12px;
        --fs-s: 14px;
        --fs-sm: 16px;
        --fs-md: 20px;
        --fs-lg: 24px;
        --fs-xl: 30px;
        --fs-2xl: 40px;
        --fs-3xl: 50px;
    }

    .box1 {
        max-width: 386px;
    }

    .btn2 {
        padding: 12px 128px;
    }

    .py100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

}

@media (min-width:768px) {
    .card1 {
        max-width: 353.44px;
    }

    .w-md-100 {
        width: 100%;
    }

    .pb500 {
        padding-bottom: 300px;
    }

    :root {
        /* font-size */
        --fs-xs: 12px;
        --fs-s: 14px;
        --fs-sm: 16px;
        --fs-md: 20px;
        --fs-lg: 24px;
        --fs-xl: 40px;
        --fs-2xl: 48px;
        --fs-3xl: 61px;
    }

    .py100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .pos-ab {
        position: absolute;
        top: 90%;
        left: 4%;
    }

    .pos-abs {
        position: absolute;
        top: 90%;
        right: 4%;
    }

}

@media (min-width:992px) {
    .pr-lg-46 {
        padding-right: 46px;
    }

    .pr-lg-30 {
        padding-right: 30px;
    }

    .card1 {
        max-width: 353.44px;
    }

    .card2 {
        padding: 54px 36px 0px 0px;
    }

    .card3 {
        padding: 54px 0px 0px 36px;
    }

    .pb400 {
        padding-bottom: 400px;
    }

    .pos-ab {
        position: absolute;
        top: 90%;
        left: 4%;
    }

    .pos-abs {
        position: absolute;
        top: 90%;
        right: 4%;
    }

    .bg-img1 {
        background-image: url(../images/heroimg.png);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .bg-img2 {
        background-image: url(../images/Union.png);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .footer-img {
        background-image: url(../images/footer-img.png);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

}

@media (min-width:1200px) {
    .pos-ab {
        position: absolute;
        top: 50%;
        left: 4%;
    }

    .pos-abs {
        position: absolute;
        top: 50%;
        right: 4%;
    }

    .box1 {
        max-width: 386px;
    }

    .max-w335px {
        max-width: 335px;
    }
}

@media(max-width:992px) {
    label[for="menubar"] {
        display: flex;
        width: 30px;
        height: 25px;
        flex-direction: column;
        z-index: 3;
        cursor: pointer;
        justify-content: space-between;
    }

    label[for="menubar"]>span {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 5px;
        height: 100%;
        z-index: 2;
        cursor: pointer;
    }

    label[for="menubar"]>span {
        width: 100%;
        height: 4px;
        background-color: var(--bs-black);
        border-radius: 0px;
        margin-top: 5px;


    }

    .mobile-view {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--bs-offwhite);
        flex-direction: column;
        z-index: 2;
        transition: all 200ms linear;
    }

    input[type="checkbox"][id="menubar"]:checked+ul.mobile-view {
        left: 0;
        pointer-events: all;
        opacity: 1;
    }

    input[type="checkbox"][id="menubar"]:checked+ul.mobile-view li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    input[type="checkbox"][id="menubar"]:checked+ul.mobile-view li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .pos-fix {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 2;
    }
}